<input hidden type="checkbox" id="play_button">

<input hidden type="checkbox" id="mute_button">

<input hidden type="checkbox" id="music_box_min">


<div music__box id="music_box">
  <div dark_container> 
    <div wave id="wave" >

      <div rec_1 ></div>
      <div rec_2 ></div>
      <div rec_3 ></div>
      <div rec_4 ></div>
      <div rec_5 ></div>
      <div rec_6 ></div>
      <div rec_5 ></div>
      <div rec_4 ></div>
      <div rec_3 ></div>
      <div rec_2 ></div>
      <div rec_1 ></div>
      <div rec_2 ></div>
      <div rec_3 ></div>
      <div rec_4 ></div>
      <div rec_5 ></div>
      <div rec_6 ></div>
      <div rec_5 ></div>
      <div rec_4 ></div>
      <div rec_3 ></div>
      <div rec_2 ></div>
      <div rec_1 ></div>
    </div>
    
    <div video_feed>
    
    {% if music_box.youtube %}
      <!-- make sure link has /embed/  tag-->
      <!--for no controls &controls=0 -->
      <iframe music_video src="https://www.youtube.com/embed/{{ music_box.youtube.video_id }}{% if music_box.youtube.list_id %}&list={{ music_box.youtube.list_id }}{% endif %}&enablejsapi=1"
      frameborder="0" allow="accelerometer; encrypted-media; gyroscope; autoplay; picture-in-picture" id="youtube_video">
      </iframe>     

    {% elif music_box.video %}
      <video music_video id="music_video" controls >
        
        <source src="{% if music_box.video.mp4_src %}{{music_box.video.mp4_src}}{%endif%}" type="video/mp4">
        
        <source src="{% if music_box.video.ogg_src %}{{music_box.video.ogg_src}}{%endif%}" type="video/ogg">
      
        <source src="{% if music_box.video.webm_src %}{{music_box.video.webm_src}}{%endif%}" type="video/webm">
      
        <source src="{% if music_box.video.gp3_src %}{{music_box.video.gp3_src}}{%endif%}" type="video/3gp">

        Your browser does not support the video tag.
      </video>

    {% elif music_box.audio %}
      <audio music_audio id="music_audio" controls >
        <source src="{% if music_box.audio.mp3_src %}{{music_box.audio.mp3_src}}{%endif%}" type="audio/mpeg">
        <source src="{% if music_box.audio.ogg_src %}{{music_box.audio.ogg_src}}{%endif%}" type="audio/ogg">
        Your browser does not support the audio element.        
      </audio>

    {% endif %}

      
  
    </div>
  </div>
  <div bottom_section>

    <div music__footer>
      <div control_wrapper> 
        <div volume_controllers>
          <label volume_icon for="mute_button" onclick="muteVideo()">
              <i volume_high_icon id="high_vol"></i>

              <i volume_off_icon id="low_vol"></i>

          </label>


          <div volume_container> 
            <input volume_slider type="range" min="0" max="100" value="100" id="volume_slider">

          </div>
  
        
        </div>

        <div list_controllers>
          <button control_btn_list reset_styles="true" onclick="previousVideo()" > 
            <div previous_song>
      
            </div>

          </button>
          <button control_btn_list reset_styles="true" onclick="nextVideo()" >
            <div next_song>
      
            </div>
          </button>
  
        </div>

      </div>
      
      <!-- play button -->
      <label play__container for="play_button" onclick="playPause()">
        <div play__button id="play" play_triangle="">
  
        </div>                    
      </label>
      
      

    </div>
    

  </div>
  
  

</div>
