#mute_button
  &:checked
    ~
      #music_box
        #high_vol 
          display: none
          visibility: hidden

        #low_vol
          display: block
          visibility: visible


#play_button  
  &:checked
    ~       
      #music_box   
        label     
          div[play_triangle=""]
            +paused(30px)
            left: 13px

      #min_music
        label     
          div[play_triangle=""]
            +paused(20px)

#music_box
  visibility: hidden
  display: none


#music_box_min
  &:checked 
    ~ 
      #music_box
        @extend .animated
        @extend .zoomIn
        visibility: visible
        display: block

      
      div 
        label
          #arrow_min

            transform: rotateZ(-45deg)

      