.music_min_bar

  width: 50px
  height: 150px
  background-color: #22292F
  position: fixed
  z-index: 40
  top: 0
  right: 0
  display: block
  border-radius: 0.5rem
  box-shadow: 0px 0px 4px 1px #000

  .button_show
    background-color: #000000
    border-radius: 50%
    height: 30px
    width: 30px
    position: absolute
    margin: 5px 10px
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center

    .arrow_button
      width: 10px
      height: 10px
      transform: rotateZ(-225deg)
      
      border-bottom: #FFF solid 5px
      border-right: #FFF solid 5px
      transition: transform 1s

      will-change: transform
