@import 'min_play'
@import 'min_controls'
@import 'min_show_btn'
@import 'min_volume'



$primary_color: #F8FAFC

$gradient_color1: #2a6669
$gradient_color2: #0d1013

=min_thumb
  width: 5px
  height: 20px
  border-radius: .5rem
  background: #F8FAFC
  border: 1px solid #000
  cursor: pointer

.music_min_bar

  width: 50px
  height: auto
  background-color: #0d1013  
  background-image: linear-gradient(135deg, $gradient_color1, $gradient_color2)
  position: fixed

  padding: 5px
  z-index: 40
  top: 35px
  right: 5px
  box-shadow: 0px 0px 4px 1px #000
  opacity: .6
  
  &:hover
    opacity: 1


  

