@-webkit-keyframes load {
  0%,
100% {
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
    transform: scaleY(0.5);
    background: #03A9F4; }
  16.67% {
    -webkit-transform: scaleY(3);
    -moz-transform: scaleY(3);
    -ms-transform: scaleY(3);
    -o-transform: scaleY(3);
    transform: scaleY(3);
    background: #FF5722; }
  33.33% {
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
    transform: scaleY(0.5);
    background: #FF5252; }
  50% {
    -webkit-transform: scaleY(3);
    -moz-transform: scaleY(3);
    -ms-transform: scaleY(3);
    -o-transform: scaleY(3);
    transform: scaleY(3);
    background: #E91E63; }
  66.67% {
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
    transform: scaleY(0.5);
    background: #9C27B0; }
  83.34% {
    -webkit-transform: scaleY(3);
    -moz-transform: scaleY(3);
    -ms-transform: scaleY(3);
    -o-transform: scaleY(3);
    transform: scaleY(3);
    background: #673AB7; } }
@-moz-keyframes load {
  0%,
100% {
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
    transform: scaleY(0.5);
    background: #03A9F4; }
  16.67% {
    -webkit-transform: scaleY(3);
    -moz-transform: scaleY(3);
    -ms-transform: scaleY(3);
    -o-transform: scaleY(3);
    transform: scaleY(3);
    background: #FF5722; }
  33.33% {
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
    transform: scaleY(0.5);
    background: #FF5252; }
  50% {
    -webkit-transform: scaleY(3);
    -moz-transform: scaleY(3);
    -ms-transform: scaleY(3);
    -o-transform: scaleY(3);
    transform: scaleY(3);
    background: #E91E63; }
  66.67% {
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
    transform: scaleY(0.5);
    background: #9C27B0; }
  83.34% {
    -webkit-transform: scaleY(3);
    -moz-transform: scaleY(3);
    -ms-transform: scaleY(3);
    -o-transform: scaleY(3);
    transform: scaleY(3);
    background: #673AB7; } }
@-ms-keyframes load {
  0%,
100% {
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
    transform: scaleY(0.5);
    background: #03A9F4; }
  16.67% {
    -webkit-transform: scaleY(3);
    -moz-transform: scaleY(3);
    -ms-transform: scaleY(3);
    -o-transform: scaleY(3);
    transform: scaleY(3);
    background: #FF5722; }
  33.33% {
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
    transform: scaleY(0.5);
    background: #FF5252; }
  50% {
    -webkit-transform: scaleY(3);
    -moz-transform: scaleY(3);
    -ms-transform: scaleY(3);
    -o-transform: scaleY(3);
    transform: scaleY(3);
    background: #E91E63; }
  66.67% {
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
    transform: scaleY(0.5);
    background: #9C27B0; }
  83.34% {
    -webkit-transform: scaleY(3);
    -moz-transform: scaleY(3);
    -ms-transform: scaleY(3);
    -o-transform: scaleY(3);
    transform: scaleY(3);
    background: #673AB7; } }
@keyframes load {
  0%,
100% {
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
    transform: scaleY(0.5);
    background: #03A9F4; }
  16.67% {
    -webkit-transform: scaleY(3);
    -moz-transform: scaleY(3);
    -ms-transform: scaleY(3);
    -o-transform: scaleY(3);
    transform: scaleY(3);
    background: #FF5722; }
  33.33% {
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
    transform: scaleY(0.5);
    background: #FF5252; }
  50% {
    -webkit-transform: scaleY(3);
    -moz-transform: scaleY(3);
    -ms-transform: scaleY(3);
    -o-transform: scaleY(3);
    transform: scaleY(3);
    background: #E91E63; }
  66.67% {
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
    transform: scaleY(0.5);
    background: #9C27B0; }
  83.34% {
    -webkit-transform: scaleY(3);
    -moz-transform: scaleY(3);
    -ms-transform: scaleY(3);
    -o-transform: scaleY(3);
    transform: scaleY(3);
    background: #673AB7; } }
.dark_container {
  width: 100%;
  height: auto;
  background-color: #000000;
  border-radius: 0.5rem;
  padding: 5px; }

.input__hidden {
  display: none;
  visibility: hidden; }

.music__controls .button_previous, .music_bar_controls .bar__controls .button_previous, .music__controls .button_previous::after, .music_bar_controls .bar__controls .button_previous::after {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  border-color: transparent #F1F5F8 transparent transparent;
  transition: 100ms all ease;
  will-change: border-width;
  cursor: pointer;
  border-style: solid;
  border-width: calc(20px/2) 20px calc(20px/2) 0; }

.music__controls .button_next, .music_bar_controls .bar__controls .button_next, .music__controls .button_next::after, .music_bar_controls .bar__controls .button_next::after, .music__controls .play__button, .music_bar_controls .bar__controls .play__button {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  border-color: transparent transparent transparent #F1F5F8;
  transition: 100ms all ease;
  will-change: border-width;
  cursor: pointer;
  border-style: solid;
  border-width: calc(20px/2) 0 calc(20px/2) 20px; }

.music__box {
  width: 400px;
  height: 350px;
  margin: 10px;
  border-radius: 0.6rem;
  background-color: #22292F;
  border-width: 6px;
  border-style: solid;
  border-color: #5ac4c9;
  padding: 15px;
  position: relative; }
  .music__box::before {
    content: " ";
    position: absolute;
    z-index: 1;
    border-radius: 0.6rem;
    pointer-events: none;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    box-shadow: 0px 0px 4px 2px white; }
  .music__box::after {
    content: " ";
    position: absolute;
    z-index: -1;
    border-radius: 0.6rem;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 6px solid #5ac4c9;
    box-shadow: 0px 0px 10px 4px rgba(90, 196, 201, 0.5); }

.music_box_container_controls {
  margin: 10px 0px;
  border-radius: 0.5rem;
  background-color: #8795A1;
  padding: 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }

.music__controls, .music_bar_controls .bar__controls {
  background-color: transparent;
  width: 250px;
  display: flex;
  justify-content: space-between; }
  .music__controls .button_next, .music_bar_controls .bar__controls .button_next {
    position: relative; }
    .music__controls .button_next::after, .music_bar_controls .bar__controls .button_next::after {
      position: absolute;
      content: " ";
      left: -40px;
      top: -10px; }
    .music__controls .button_next:hover, .music_bar_controls .bar__controls .button_next:hover {
      border-color: transparent transparent transparent #DAE1E7; }
      .music__controls .button_next:hover::after, .music_bar_controls .bar__controls .button_next:hover::after {
        border-color: transparent transparent transparent #DAE1E7; }
  .music__controls .button_previous, .music_bar_controls .bar__controls .button_previous {
    position: relative; }
    .music__controls .button_previous::after, .music_bar_controls .bar__controls .button_previous::after {
      position: absolute;
      content: " ";
      right: -40px;
      top: -10px; }
    .music__controls .button_previous:hover, .music_bar_controls .bar__controls .button_previous:hover {
      border-color: transparent #DAE1E7 transparent transparent; }
      .music__controls .button_previous:hover::after, .music_bar_controls .bar__controls .button_previous:hover::after {
        border-color: transparent #DAE1E7 transparent transparent; }
  .music__controls .play__button:hover, .music_bar_controls .bar__controls .play__button:hover {
    border-color: transparent transparent transparent #DAE1E7; }

#play_button:checked ~ #music_box label #play_button {
  border-style: double;
  border-width: 0px 0 0px 20px; }

.loader-container {
  position: relative;
  height: calc(3 * 10px + 20px );
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: calc(10px + 10px );
  padding-bottom: 10px; }
  .loader-container > div {
    position: relative;
    display: inline-block;
    background: #03A9F4;
    height: 10px;
    width: 10px;
    margin: 0px 2px;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-animation: load 5s ease-in-out infinite;
    -moz-animation: load 5s ease-in-out infinite;
    -ms-animation: load 5s ease-in-out infinite;
    -o-animation: load 5s ease-in-out infinite;
    animation: load 5s ease-in-out infinite; }
  .loader-container .rectangle-1 {
    -webkit-animation-delay: 000ms;
    -moz-animation-delay: 000ms;
    -ms-animation-delay: 000ms;
    -o-animation-delay: 000ms;
    animation-delay: 000ms; }
  .loader-container .rectangle-2 {
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
    -ms-animation-delay: 100ms;
    -o-animation-delay: 100ms;
    animation-delay: 100ms; }
  .loader-container .rectangle-3 {
    -webkit-animation-delay: 200ms;
    -moz-animation-delay: 200ms;
    -ms-animation-delay: 200ms;
    -o-animation-delay: 200ms;
    animation-delay: 200ms; }
  .loader-container .rectangle-4 {
    -webkit-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
    -ms-animation-delay: 300ms;
    -o-animation-delay: 300ms;
    animation-delay: 300ms; }
  .loader-container .rectangle-5 {
    -webkit-animation-delay: 400ms;
    -moz-animation-delay: 400ms;
    -ms-animation-delay: 400ms;
    -o-animation-delay: 400ms;
    animation-delay: 400ms; }
  .loader-container .rectangle-6 {
    -webkit-animation-delay: 500ms;
    -moz-animation-delay: 500ms;
    -ms-animation-delay: 500ms;
    -o-animation-delay: 500ms;
    animation-delay: 500ms; }
  .loader-container .rectangle-7 {
    -webkit-animation-delay: 600ms;
    -moz-animation-delay: 600ms;
    -ms-animation-delay: 600ms;
    -o-animation-delay: 600ms;
    animation-delay: 600ms; }
  .loader-container .rectangle-8 {
    -webkit-animation-delay: 700ms;
    -moz-animation-delay: 700ms;
    -ms-animation-delay: 700ms;
    -o-animation-delay: 700ms;
    animation-delay: 700ms; }
  .loader-container .rectangle-9 {
    -webkit-animation-delay: 800ms;
    -moz-animation-delay: 800ms;
    -ms-animation-delay: 800ms;
    -o-animation-delay: 800ms;
    animation-delay: 800ms; }
  .loader-container .rectangle-10 {
    -webkit-animation-delay: 900ms;
    -moz-animation-delay: 900ms;
    -ms-animation-delay: 900ms;
    -o-animation-delay: 900ms;
    animation-delay: 900ms; }
  .loader-container .rectangle-11 {
    -webkit-animation-delay: 1000ms;
    -moz-animation-delay: 1000ms;
    -ms-animation-delay: 1000ms;
    -o-animation-delay: 1000ms;
    animation-delay: 1000ms; }

.video__container {
  margin: 20px 0px; }
  .video__container .music__video {
    width: 100%;
    height: 100%; }

.music_bottom_bar {
  width: 100%;
  height: 40px;
  background-color: rgba(29, 28, 28, 0.5);
  position: fixed;
  bottom: 0; }

.music_bar_controls {
  padding: 10px; }
  .music_bar_controls .bar__controls {
    width: 200px; }

/*# sourceMappingURL=music_styles.css.map */
